<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secundario">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content text-center class="fondoLogin">
    <ion-list>
      <ion-item class="login">
        <ion-label floating [color]="!tieneUsuario && 'dark'">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="data.usuario" (keyup)="validar(data)"></ion-input>
      </ion-item>
      <ion-item class="login">
        <ion-label floating [color]="!tieneContra && 'dark'">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="data.contra" (keyup)="validar(data)"></ion-input>
      </ion-item>
      <button ion-button round margin-top [disabled]="!estaCompleto" [color]="estaCompleto ? 'principal' : 'secundario'" (click)="ingresar(data)">{{estaCompleto ? 'Iniciar sesión' : 'Ingresa tus datos'}}</button>
    </ion-list>
</ion-content>
