<!--
  Generated template for the UsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secundario">
    <ion-title>Usuario</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only color="principal" (click)="nuevo()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content class="fondoUsuario">
  <ion-list>
    <ion-item *ngFor="let p of productos" class="itemsUsuario">
      <ion-thumbnail item-start>
        <!-- <img src="https://pbs.twimg.com/profile_images/1024488442963537920/zJ0wCEFI.jpg"> -->
        <img src="{{p.img}}" alt="Sin imagen">
      </ion-thumbnail>
      <h2>Nombre: {{p.nombre}}</h2>
      <p>Descripción: {{p.descripcion}}</p>
      <p>Precio: ${{p.precio.toFixed(2)}}</p>
      <button ion-button clear icon-only item-end color="principal" (click)="editar(p.id)">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button clear icon-only item-end color="principal" (click)="borrar(p.id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
