<!--
  Generated template for the ProductoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secundario">
    <ion-title>{{esEdicion ? 'Editar producto' : 'Agregar producto'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center class="fondoProducto">
  <ion-card class="itemProducto">
    <div padding>
      <!--<img src="https://cdn4.vectorstock.com/i/1000x1000/35/68/person-icon-male-user-profile-avatar-vector-18833568.jpg" alt="Nel"> -->
      <p align-center><img src="{{producto.img}}" alt="Agrega una foto"></p>
      <button ion-button icon-only clear large (click)="tomarFoto()" color="principal"><ion-icon name="camera"></ion-icon></button>
    </div>
    <ion-card-content>
      <ion-list>
        <ion-item class="itemProducto">
          <ion-label floating color="principal">Nombre:</ion-label>
          <ion-input type="text" ion-text color="secundario" [(ngModel)]="producto.nombre"></ion-input>
        </ion-item>
        <ion-item class="itemProducto">
          <ion-label floating color="principal">Descripción:</ion-label>
          <ion-input type="text" ion-text color="secundario" [(ngModel)]="producto.descripcion"></ion-input>
        </ion-item>
        <ion-item class="itemProducto">
          <ion-label floating color="principal">Precio:</ion-label>
          <ion-input type="number" ion-text color="secundario" [(ngModel)]="producto.precio"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button round (click)="listo()" color="principal">Listo</button>
  <button ion-button round color="secundario" (click)="cancelar()">Cancelar</button>
</ion-content>
