<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secundario">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <!-- <ion-card>
    <img src="http://www.urban-refugees.org/wp-content/uploads/2014/12/GOOGLE-MAP.png"/>
    <div class="card-title">Aquí va el mapa</div>
    <div class="card-subtitle">y marcadores</div>
  </ion-card> -->
  <div #map id="map"></div>
</ion-content>
