page-detail {
}
    #map {
      height: 100%;
      width: 100%;
    }

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: rgb(48, 34, 238)
    }
  
    .card-subtitle {    
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: rgb(98, 0, 255);
    }
  
  }
