<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="principal">
            <ion-title>Catálogo</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="fondoApp">
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="itemsApp">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
