<!--
  Generated template for the ListaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secundario">
    <ion-title>Productos - {{nombreVendedor}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fondoLista">
  <ion-list>
    <ion-item *ngFor="let p of productos" class="itemList">
      <ion-thumbnail item-start>
        <!-- <img src="https://pbs.twimg.com/profile_images/1024488442963537920/zJ0wCEFI.jpg"> -->
        <img src="{{p.img}}" alt="Sin imagen">
      </ion-thumbnail>
      <h1>{{p.nombre}}</h1>
      <p>{{p.descripcion}}</p>
      <p ion-text color="principal" item-end>${{p.precio.toFixed(2)}}</p>
    </ion-item>
  </ion-list>
</ion-content>
