<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secundario">
    <ion-title>Admin</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only color="principal" (click)="nuevo()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="fondoAdmin">
  <ion-list>
    <ion-item *ngFor="let v of vendedores" class="itemAdmin">
      <ion-avatar item-start>
        <!-- <img src="https://cdn4.vectorstock.com/i/1000x1000/35/68/person-icon-male-user-profile-avatar-vector-18833568.jpg"> -->
        <img src="{{v.img}}" alt="Sin imagen">
      </ion-avatar>
      <h2>{{v.nombre}}</h2>
      <p>{{v.ubicacion}}</p>
      <button ion-button clear icon-only item-end color="principal" (click)="editar(v.id)">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button ion-button clear icon-only item-end color="principal" (click)="borrar(v.id)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
