<!--
  Generated template for the VendedorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secundario">
    <ion-title>{{esEdicion ? 'Editar vendedor' : 'Agregar vendedor'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center class="fondoVendedor">
  <ion-card class="itemVendedor">
    <div padding>
      <!--<img src="https://cdn4.vectorstock.com/i/1000x1000/35/68/person-icon-male-user-profile-avatar-vector-18833568.jpg" alt="Nel"> -->
      <p align-center><img src="{{vendedor.img}}" alt="Agrega una foto"></p>
      <button ion-button icon-only clear large (click)="tomarFoto()" color="principal"><ion-icon name="camera"></ion-icon></button>
    </div>
    <ion-card-content>
      <ion-list>
        <ion-item class="itemVendedor">
          <ion-label floating>Nombre:</ion-label>
          <ion-input type="text" ion-text color="secundario" [(ngModel)]="vendedor.nombre"></ion-input>
        </ion-item>
        <ion-item class="itemVendedor">
          <ion-label floating>Contraseña:</ion-label>
          <ion-input type="pass" ion-text color="secundario" [(ngModel)]="vendedor.pass"></ion-input>
        </ion-item>
        <ion-item class="itemVendedor">
          <ion-label floating >Ubicación:</ion-label>
          <ion-input type="text" ion-text color="secundario" [(ngModel)]="vendedor.ubicacion"></ion-input>
        </ion-item>
        <ion-item class="itemVendedor">
          <ion-label floating >Coordenadas (lat):</ion-label>
          <ion-input type="number" ion-text color="secundario" [(ngModel)]="vendedor.coords[0]"></ion-input>
        </ion-item>
        <ion-item class="itemVendedor">
          <ion-label floating >Coordenadas (lng):</ion-label>
          <ion-input type="number" ion-text color="secundario" [(ngModel)]="vendedor.coords[1]"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button round (click)="listo()" color="principal">Listo</button>
  <button ion-button round color="secundario" (click)="cancelar()">Cancelar</button>
</ion-content>
