<ion-header>
  <ion-navbar color="secundario">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menú</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondoMenu">
  <ion-list>
    <ion-item *ngFor="let v of vendedores" [navPush]="page" [navParams]="{id: v.id, nombre: v.nombre}" class="itemsMenu">
      <ion-avatar item-start>
        <!-- <img src="https://cdn4.vectorstock.com/i/1000x1000/35/68/person-icon-male-user-profile-avatar-vector-18833568.jpg"> -->
        <img src="{{v.img}}">
      </ion-avatar>
      <h2>{{v.nombre}}</h2>
      <p>{{v.ubicacion}}</p>
    </ion-item>
  </ion-list>
</ion-content>
